body{
    background-image: url('img/16456601198528.jpeg');
    background-repeat: no-repeat;
    background-size: cover
}

p1{
    font-family: cursive;
    color:red;
    position: absolute;
}

p2{
    font-family:sans-serif;
    color:white;
    position: fixed;
}
