/* Write all your custom CSS below this line  */

body {
    background: orange;
    margin: 0;
    
}
img{
    width: 100%;
}

header{
    background: green;
    text-align: center;
    padding: 1em;
}

main{
    background: orange;
    max-width: 50ch;
    margin: auto;
}
footer{
    background: green;
    text-align: center;
    padding: 1em;
}
