/* Write all your custom CSS below this line  */

body {
    background: orange;
    margin: 0;
    
}
img{
    width: 100%;
}

header{
    background: green;
    text-align: center;
    padding: 1em;
}

main{
    background: orange;
    max-width: 50ch;
    margin:4em auto;
}
section{
    background: green;
    border-left: .5em solid black;
    margin: 2em 0;
}
h3{
    background: black;
    color: orange;
    padding: .4em;

}
section p{
    padding: .4em;
}
footer{
    background: green;
    text-align: center;
    padding: 1em;
}
